html {
    /*background: linear-gradient(rgb(233, 183, 93), rgb(0, 131, 62)) no-repeat;*/
    background: linear-gradient(rgb(3, 85, 123), rgb(0, 13, 25)) no-repeat;
}

body{
    min-height: 100vh;
    background-color: transparent;
}

#loginForm{
    margin: 0 auto;
    max-width: 400px;
    padding: 20px 30px;
    background-color: #eaeaea;
    border: solid 1px #e2e2e2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.logo {
    width: 96px;
    height: 96px;
    margin: 0 auto 30px;
    display: block;
}

#submit {
    margin-top: 30px;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}