.header {
    width: 100%;
    margin-bottom: 50px;
}

.loggedInGroup{
    display: inline-block;
    float: right;
    padding: 15px;
}
.loggedInGroup > a{
    float: right;
}

.customerId{
    display: inline-block;
}