<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Single-Column Responsive Email Template</title>

    <style>
        @media only screen and (min-device-width: 601px) {
            .content {
                width: 600px !important;
            }
        }
    </style>
</head>

<body>

<!--[if (gte mso 9)|(IE)]>
  <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
<![endif]-->

<table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width:600px;">
    <tr>
        <td>
            <div style="font: 15px 'Arial Narrow', -apple-system, Roboto, serif">
                <p>Dear
                    {% if user.first_name %}
                        {{ user.first_name }},
                    {% else %}
                        RoamVU Beta Subscriber,
                    {% endif %}
                </p>
                <p>&emsp;Thank you for your interest in the Point Dume Public Beta of our international Wi-Fi roaming
                    app, RoamVU! You have been selected to participate in our Beta and given free Wi-Fi access on your
                    Apple device while traveling to Hong Kong or Japan. If you have any questions, feel free to contact
                    us using the in-app Feedback Icon or send us an email to <a href="mailto:support@roamvu.com">support@roamvu.com</a>.
                    We’re happy to hear from you.</p>
                <p>&emsp;We recommend that you follow these instructions to install and Sign-In to our RoamVU
                    Application on your Home Network in the week prior to leaving on your journey. Each crypto-secured
                    Sign-In is good for 1 month and entitles your device to connect at any of our Hotpots during that
                    time. If you get Signed-Out, that’s OK! You can Sign-In again at any time using your RoamVU Account
                    and Password that you set below:</p>
                <p style="font-weight: bold">Your RoamVU App Sign-In:</p>
                <p style="color:black; text-decoration: none;">&emsp;&emsp;{{ user.username }}</p>
                <p style="font-weight: bold">Use the link below in any Internet Browser to set your RoamVU Sign-In
                    Password.<br/>Remember it! You’ll need this password later:</p>
                <p><a style="text-decoration: none;"
                      href="{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}">
                    &emsp;&emsp;{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
                </a></p>
                <p style="font-weight: bold">Instructions for Installing RoamVU:</p>
            </div>

            <p><img src="cid:beta1.png" style="max-width: 600px; width: 100%"/></p>
            <p><img src="cid:beta2.png" style="max-width: 600px; width: 100%"/></p>
            <p><img src="cid:beta3.png" style="max-width: 600px; width: 100%"/></p>
            <p><img src="cid:beta4.png" style="max-width: 600px; width: 100%"/></p>
            <p><img src="cid:beta5.png" style="max-width: 600px; width: 100%"/></p>
            <p><img src="cid:beta6.png" style="max-width: 600px; width: 100%"/></p>
            <p><img src="cid:beta7.png" style="max-width: 600px; width: 100%"/></p>
        </td>
    </tr>
</table>

<!--[if (gte mso 9)|(IE)]>
      </td>
    </tr>
</table>
<![endif]-->

</body>
</html>
