<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>RoamVU Registration</title>

    <style type="text/css">
        @media only screen and (max-width: 480px) {
            #templateColumns {
                width: 100% !important;
            }

            .templateColumnContainer {
                display: block !important;
                width: 100% !important;
            }

            .columnImage {
                height: auto !important;
                max-width: 480px !important;
                width: 100% !important;
            }
        }
    </style>
</head>

<body>
<table border="0" align="center" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
    <tr>
        <td colspan="2" align="center" valign="top" width="100%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td style="font: 15px 'Arial Narrow', -apple-system, Roboto, serif">
                        <p>Dear
                            {% if user.first_name %}
                                {{ user.first_name }},
                            {% else %}
                                RoamVU Beta Subscriber,
                            {% endif %}
                        </p>
                        <p>&emsp;Thank you for your interest in the Point Dume Public Beta of our international Wi-Fi
                            roaming
                            app, RoamVU! You have been selected to participate in our Beta and given free Wi-Fi access
                            on your
                            Apple device while traveling to Hong Kong or Japan. If you have any questions, feel free to
                            contact
                            us using the in-app Feedback Icon or send us an email to <a
                                    href="mailto:support@roamvu.com">support@roamvu.com</a>.
                            We’re happy to hear from you.</p>
                        <p>&emsp;We recommend that you follow these instructions to install and Sign-In to our RoamVU
                            Application on your Home Network in the week prior to leaving on your journey. Each
                            crypto-secured
                            Sign-In is good for 1 month and entitles your device to connect at any of our Hotpots during
                            that
                            time. If you get Signed-Out, that’s OK! You can Sign-In again at any time using your RoamVU
                            Account
                            and Password that you set below:</p>
                        <p style="font-weight: bold">Your RoamVU App Sign-In:</p>
                        <p style="color:black; text-decoration: none;">&emsp;&emsp;{{ user.username }}</p>
                        <p style="font-weight: bold">Use the link below in any Internet Browser to set your RoamVU
                            Sign-In
                            Password.<br/>Remember it! You’ll need this password later:</p>
                        <p>&emsp;&emsp;<a style="text-decoration: none;" href="{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}</a></p>
                        <p style="font-weight: bold">Instructions for Installing RoamVU:</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" width="50%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p><img src="cid:beta_portrait_1.png" width="280" style="max-width:280px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" valign="top" width="50%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p><img src="cid:beta_portrait_2.png" width="280" style="max-width:280px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" width="50%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p><img src="cid:beta_portrait_3.png" width="280" style="max-width:280px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" valign="top" width="50%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p><img src="cid:beta_portrait_4.png" width="280" style="max-width:280px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" width="50%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p><img src="cid:beta_portrait_5.png" width="280" style="max-width:280px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" valign="top" width="50%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p><img src="cid:beta_portrait_6.png" width="280" style="max-width:280px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" valign="top" width="100%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p style="text-align: center"><img src="cid:beta_portrait_7.png" width="100%" style="max-width:580px;" class="columnImage"/></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
