<p>Dear
    {% if user.first_name %}
        {{ user.first_name }},
    {% else %}
        Roamvu user,
    {% endif %}
</p>

<p>Your company has given you Wi-Fi access!</p>

<p>By now you should have received an offer from Crashlytics offering a copy of our RoamVU Application for iOS.</p>

<p>We'll be on the AppStore soon!  Until then, please follow the instructions below to install and Sign-In to the RoamVU App.  After it's installed, you may need to stay on Wi-Fi for a short while
to allow the client to fully update.</p>

<h1>RoamVU Sign-In Account Details</h1>

<p>Your RoamVU Sign-In account is: <b>{{ user.username }}</b></p>

<p>Follow this link to activate your account and set the password:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}">
     {{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
</a></p>

<h1>Get connected with RoamVU in five easy steps:</h1>
<p><img src="cid:step1.jpg" style="max-height: 400px"/></p>
<p><img src="cid:step2.jpg" style="max-height: 400px"/></p>
<p><img src="cid:step3.jpg" style="max-height: 400px"/></p>
<p><img src="cid:step4.jpg" style="max-height: 400px"/></p>
<p><img src="cid:step5a.jpg" style="max-height: 400px"/></p>
<p><img src="cid:step5b.jpg" style="max-height: 400px"/></p>

<p>Please note this is a Beta client.  So your feedback is quite useful to us!  If you would like to submit feedback or have any issues installing or signing-in to the App, please do not hesitate to
get in touch with me.</p>

<p>Regards,</p>

<div class="gmail_signature" data-smartmail="gmail_signature"><div dir="ltr"><div><div><div><div><div style="font-size:12.8px"><img src="http://www.point-dume.com/wp-content/uploads/2015/07/logotip.png" style="font-size:12.8px"></div></div></div></div></div><blockquote style="margin:0 0 0 40px;border:none;padding:0px"><div><div><div><div><div style="font-size:12.8px"><font size="4" style="font-family:arial,helvetica,sans-serif"><b>Blair Bullock, CTO</b></font></div></div></div></div></div><div><div><div><div><div><div><font color="#000000" size="2" face="trebuchet ms, sans-serif"><b>POINT DUME LIMITED</b></font></div></div></div></div></div></div><div><div><div><div><div><div><b style="font-family:Roboto,arial,sans-serif;font-size:13px">101 Jefferson Drive, #209, </b><b style="font-family:Roboto,arial,sans-serif;font-size:13px">Menlo Park, CA 94025</b></div><div><b style="font-family:Roboto,arial,sans-serif;font-size:13px">USA</b></div></div></div></div></div></div><div><div><div><div><div><div style="font-size:12.8px"><font size="2" color="#000000" face="monospace, monospace"><br></font></div></div></div></div></div></div><div><div><div><div><div><div style="font-size:12.8px"><font size="2" color="#000000" face="monospace, monospace">Mobile:  +1(650)743-4618</font></div></div></div></div></div></div><div><div><div><div><div><div style="font-size:12.8px"><font size="2" color="#000000" face="monospace, monospace">Email: <a href="mailto:blair.bullock@point-dume.com" style="color:rgb(17,85,204)" target="_blank">blair.bullock@point-dume.com</a> </font></div></div></div></div></div></div></blockquote><div><div><div><div><div><div style="font-size:12.8px"><div style="font-size:12.8px">     <img src="https://docs.google.com/uc?export=download&amp;id=0BywOo0gDHrWiUUxObGhraUw0Y1E&amp;revid=0BywOo0gDHrWiWjZtYWxlVVZWN2dDWGdzS3RBRGZjZ0lSWlpJPQ" width="96" height="96">    <a href="http://www.wballiance.com/" style="color:rgb(17,85,204)" target="_blank"><img src="http://www.point-dume.com/wp-content/uploads/2015/07/Wireless-memder.jpg" width="200"height="108"></a></div></div></div></div></div></div></div></div></div>