<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>RoamVU Registration</title>

    <style type="text/css">
        @media only screen and (max-width: 480px) {
            #templateColumns {
                width: 100% !important;
            }

            .templateColumnContainer {
                display: block !important;
                width: 100% !important;
            }
        }
    </style>
</head>

<body>
<table border="0" align="center" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
    <tr>
        <td colspan="2" align="center" valign="top" width="100%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td style="font: 15px sans-serif, 'Arial Narrow', -apple-system, Roboto, serif">
                        You have been offered RoamVU Global Wi-Fi Internet access on behalf of {{ parent_name }}.
                        Please review the service information below and if such a service interests you, please complete
                        the service order form by clicking on the following link:<br/>
                        {{ register_link }}<br/>
                        Once {{ parent_email }} has a chance to review and accept your response, an
                        Email with instructions on how to access the online RoamVU Roaming Portal will be sent to the
                        Service Administrator you have supplied. Once your Administrator has access to the RoamVU
                        Roaming Portal, additional Administration Roles and User Accounts can be created for use with
                        the RoamVU Application to allow your staff to connect at thousands of Hotspots worldwide.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
