{% extends "base.html" %}
{% load static %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/login_v1.2.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <form action="{% url 'login' %}" role="form" class="form" method="post" id="loginForm">
                    <img src="{% static 'media/roamvulogobetaoutline2.png' %}" class="logo"/>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                    <button id='submit' type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                  {% endbuttons %}
                    <a href="{% url 'password_reset' %}" class="forgot-password">
                        Forgot the password?
                    </a>
                </form>
            </div>
            <div class="col-xs-0 col-md-2"></div>
        </div>
    </div>
{% endblock %}