{% extends "base.html" %}
{% load static %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/login_v1.2.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <form role="form" class="form" method="post" id="loginForm">
                    <img src="{% static 'media/roamvulogobetaoutline2.png' %}" class="logo"/>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                    <button id='submit' type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                  {% endbuttons %}
                </form>
            </div>
            <div class="col-xs-0 col-md-2"></div>
        </div>
    </div>
{% endblock %}

{#{% if messages %}#}
{#<ul class="messages">#}
{#    {% for message in messages %}#}
{#    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endif %}#}

<!-- Form rendering code for template -->
{#<form action="" method="post">#}
{##}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{##}
{#    <input type="submit" value="Submit" />#}
{#</form>#}