body {
    background-color: #f3f3f3;
}
.accounts_container {
    margin: 56px auto 20px auto;
    padding-top: 8px;
    max-width: 1080px;
}
.group_container {
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    padding: 10px 0;
}
.accounts_container .ReactTable{
    font-size: 70%;
}
.accounts_container .ReactTable .-pagination .-btn{
    width: 100px;
    height: 30px;
}
.accounts_container .ReactTable .-pagination .-center{
    flex: initial
}

.accounts_container .ReactTable .-pagination .-next button{
    float:right;
}

.accounts_container .ReactTable .rt-table {
    font-size: inherit;
    font-family: inherit;
}
.accounts_container .ReactTable {
    font-family: inherit;
}

.mainheaderLink{
    color: #e4e4e4 !important;
    white-space: nowrap !important;
}
.mainheaderLink:hover{
    color: white !important;
}