body {
    background-color: #f3f3f3;
    /*font-family: -apple-system, 'Roboto', BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.topNavigationBar{
    padding: 0 10px;
    box-shadow: 0px 1px 4px #a7a7a7;
    background-color: #359cd6
}
.dropdown .dropdown-item a {
    padding: 0
}

.rowBox {
    background-color: white;
    margin: 5px 0;
    padding: 5px 0;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.chartBlock {
    /*background-color: white;*/
    /*margin: 20px;*/
    /*padding: 20px 0;*/
    /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

#packets {
    display: block;
    margin: 0 auto;
}

.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}

.main_container {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 1080px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    /*padding-top: 120px;*/
    /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}
@media only screen and (max-width: 1079px){
    /*.main_container {*/
        /*margin: 208px 0 20px 0;*/
    /*}*/
}
.DateRangePickerInput{
    white-space: nowrap;
}
.hiddenblock {
    display: none;
}

.roamvuNavLogo {
    margin-right: 10px;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
    50% {
        background-color: rgba(32, 152, 209, 0.75);
    }
}

@keyframes hvr-back-pulse {
    50% {
        opacity: 0.5;
    }
}

.hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
}

/*Stats*/
.statsTitle {
    color: grey;
    font-size: 90%;
}

.statsValue {
    font-size: 90%;
}

.statsContainerRow {
    text-align: center;
}

.mainStatsContainer {
    display: inline-block;
    margin: 0 5px;
}

#timelineParent {
    margin-top: 15px;
}

.dailyStatsContainer {
    font-size: 50%;
}

.dailyStatsTitle {
    font-weight: bold;
    white-space: nowrap;
    font-size: 150%;
}

.dailyStatsValue {
    white-space: nowrap;
    font-size: 150%;
}

.statsContainer {
    white-space: nowrap;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
}

.tableStatsMain {
    font-weight: bold;
    font-size: 80%;
}

.tableStatsSupportive {
    font-size: 100%;
}

.tableStatsValue {
    font-size: 100%;
}

.placeHolder {
    min-height: 100vh;
}



#barChartParent {
    margin-top: 20px;
}

.leftAlign {
    right: 0;
    left: auto;
}

/*Calendar*/
.calendarVisible {
    position: fixed;
    top: 56px;
    background-color: white;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9999;
    padding: 5px;
}

.calendarOK {
    left: 50px;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
}

.calendarHidden {
    display: none;
}

.DateInput {
    padding: 3px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#tag, .tag {
    color: #090909;
    background: #ffffff;
    max-width: 400px;
    position: absolute;
    display: none;
    padding: 3px 6px;
    margin-left: -80px;
    font-size: 11px;
    opacity: 0.9;
    border: 1px solid;
    z-index: 999;
}

#tag:before, .tab:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
    border-width: 10px;
    border-bottom-color: #090909;

    top: -20px;
}

.userTotalsTable {
    font-size: 50%;
    font-family: 'Ubuntu Condensed', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.userTotalsTable td, .userTotalsTable th {
    padding: 0 1px;
    text-align: center;
}

.timelineHoverTitle {
    font-weight: bold;
}


.ReactTable .rt-table {
    font-size: 75%;
    font-family: 'Ubuntu Condensed', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.ReactTable {
    font-family: 'Ubuntu Condensed', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
.ReactTable .rt-resizer {
    width: 10px;
    right: -5px;
}

.dashboardBlock {
    height: 300px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #282a40;
    color: white;
    border-radius: 3px;
    /*pointer-events: none;*/
    opacity: 1;
    display: none;
}
.tooltipclose{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 130%;
    margin-right: 4px;
    cursor: pointer;
}

#transactionTable{
    font-size: 60%;
}
#transactionTable tr{

}
#transactionTable td{

}


#usagechart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#usagechart .axis--y .tick line{
    stroke: rgba(0, 0, 0, 0.3);
}
/*.transperant{*/
    /*fill: transperant;*/
    /*stroke: transperant;*/
/*}*/

.consoleNav{
    top: 40px;
    z-index: 100;
    border-bottom: solid 1px #ececec;
    padding: 5px 10px;
}


.markerTitle{
    font-weight: bold;
    margin-right: 5px;
}

.markerValue{

}

.datePickerNav{
    margin-right: 50px;
}