body {
    background-color: #f3f3f3;
}
.referrals_container {
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    margin-bottom: 15px;
    padding: 15px;
}
.referrals_main_container{
    margin: 56px auto 20px auto;
    padding-top: 8px;
}