.tableContainer{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-size: 80%;
    padding: 10px 30px;
    margin-top: 60px;
}
.tableContainer .ReactTable {
    font-family: inherit;
}
.tableContainer .checkbutton{
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
}
.tableContainer .ReactTable .rt-table {
    font-size: inherit;
    font-family: inherit;
}
.tableContainer .notearea{
    width: 100%;
}

.tableContainer .react-datepicker__input-container{
    margin-top: 20px;
}
.tableContainer .tablemargintop{
    margin-top: 10px;
}

.tableContainer .inline{
    display: inline-block;
    vertical-align: middle;
}
.tableContainer .countryFlag{
    width: 20px;
    border: 1px solid pink;
}

.tableContainer .gender{
    width: 15px;
    vertical-align: middle;
    margin-right: 7px;
}

.tableContainer .nameContainer{
    padding-left: 5px;
}

.tableContainer .name{
    font-weight: 500;
}

.infoCell{
    padding: 0 5px;
}

.tableContainer .picture{
    width: 40px
}
.tableContainer .age{
    font-size: 70%;
}

.tableContainer .fb{
    width: 20px;
    vertical-align: sub;
}
.tableContainer .tz{
    font-size: 70%;
    margin-right: 10px;
}

.tableContainer .device{
    font-size: 70%;
    border-radius: 10px;
    border: 1px solid gainsboro;
    color: white;
    padding: 3px 5px;
}
.tableContainer .ios{
    background-color: #5b80b2;
}
.tableContainer .android{
    background-color: #5cb85c;
}

.tableContainer .foot{
    margin-top: 5px;
}

.tableContainer .foot > div{
    margin: 5px 0;
}