#main {
    float: left;
    /*width: 750px;*/
    font-size: 12px;
    font-weight: 400;
}

#sidebar {
    float: right;
    width: 100px;
    font-size: 12px;
    font-weight: 400;
}

#sequence {
    width: 600px;
    height: 40px;
    margin-top: 15px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 135px;
    left: 0;
    text-align: center;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: 9999;
}

#percentage {
    font-size: 2.5em;
}