{% extends "base.html" %}
{% load static %}

{% block title %}Customer Portal | Referral registration {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/referral.css' %}"/>
    <script type='text/javascript' src="{% static 'js/tether.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="main_form" method="POST">
        <legend>RoamVU Customer Registration Form</legend>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group row">
            {% if form.business_name.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.business_name.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.business_name.auto_id }}"
                   class="col-3 col-form-label">{{ form.business_name.label }}</label>
            <div class="col-9">
                {{ form.business_name }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.domain.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.domain.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.domain.auto_id }}" class="col-3 col-form-label">{{ form.domain.label }}</label>
            <div class="col-9">
                {{ form.domain }}
            </div>
        </div>
        <hr/>
        <div class="form-group row">
            {% if form.admin_name.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.admin_name.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.admin_name.auto_id }}" class="col-3 col-form-label">{{ form.admin_name.label }}</label>
            <div class="col-9">
                {{ form.admin_name }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.admin_title.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.admin_title.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.admin_title.auto_id }}"
                   class="col-3 col-form-label">{{ form.admin_title.label }}</label>
            <div class="col-9">
                {{ form.admin_title }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.phone.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.phone.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.phone.auto_id }}" class="col-3 col-form-label">{{ form.phone.label }}</label>
            <div class="col-9">
                {{ form.phone }}
            </div>
        </div>
        <hr/>
        <div class="form-group row">
            {% if form.country.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.country.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.country.auto_id }}" class="col-3 col-form-label">{{ form.country.label }}</label>
            <div class="col-9">
                {{ form.country }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.state.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.state.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.state.auto_id }}" class="col-3 col-form-label">{{ form.state.label }}</label>
            <div class="col-9">
                {{ form.state }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.city.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.city.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.city.auto_id }}" class="col-3 col-form-label">{{ form.city.label }}</label>
            <div class="col-9">
                {{ form.city }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.address.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 0; margin: 10px 20px;">
                    <ul>
                        {% for error in form.address.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <label for="{{ form.address.auto_id }}" class="col-3 col-form-label">{{ form.address.label }}</label>
            <div class="col-9">
                {{ form.address }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block body_scripts %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({trigger: 'focus'})
        })
    </script>
{% endblock %}
