body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    /*background: linear-gradient(rgb(0, 91, 181), rgb(0, 57, 114)) no-repeat;*/
    background: linear-gradient(rgb(5, 174, 255), rgb(0, 36, 71)) no-repeat;;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo{
    width: 100px;
}
.roamvu{
    font-family: 'Gochi Hand', cursive;
    font-size: 800%;
    white-space: nowrap;
}
.centerText{
    text-align: center;
}

.mainBlock{
    padding: 30px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.desc1{
    font-weight: 200;
    font-size: 130%;
    /*text-align: justify;*/
}
.desc2{
    font-weight: 200;
    margin: 20px 0;
    font-size: 160%;
}
.desc3{
    font-weight: 100;
    margin: 15px 0;
    font-size: 110%;
}
.copyright{
    margin: 25px 0 8px;
    font-weight: 100;
    font-size: 80%;
}
.copyrightabs{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-weight: 100;
    font-size: 80%;
}
.conditions{
    font-size: 160%;
    font-weight: 100;
    margin: 20px 0 5px 0;
    display: block;
    color: white;
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*left: 0;*/
    /*right: 0;*/
}
.beta-container{
    display: inline-block;
    position: absolute;
    font-size: 30%;
    background-color: rgb(53,156,255);
    border: 0.5px solid white;
    border-radius: 1000px;
    width: 60px;
    height: 60px;
}
.beta-sign{
    font-size: 40%;
    position: absolute;
    width: 60px;
    margin-top: 3px;
}
.mobLogo{
    display: none;
    width: 50px;
}
.conditionsxs{
    font-size: 130%;
    font-weight: 200;
    display: none;
    color: white;
}
.conditionsxs:hover, .conditions:hover{
    color:white;
}
@media (max-width: 550px){
    .conditionsxs{
        display: block;
        margin-top: 60px;
    }
    .conditions{
        display: none;
    }
    .logo {
        display: none;
        width: 50px;
    }
    .mobLogo{
        display: block;
        margin: 10px auto 0px;
    }
    .roamvu{
        font-family: 'Gochi Hand', cursive;
        font-size: 500%;
        text-align: center;
    }
    .beta-container{
        width: 40px;
        height: 40px;
    }
    .beta-sign{
        font-size: 35%;
        position: absolute;
        width: 60px;
        margin-top: 3px;
        margin-left: -10px;
    }
}
.images{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}
.iphone{
    display: inline-block;
    /*width: 15%;*/
    max-height: 80vh;
    margin: 0 3%;
    vertical-align: bottom;
}
#frontal{
    max-height: 75vh;
}

#frontalxs{
    display: block;
    height: 80vh;
    margin: 2vh auto;
}

.down-arrow{
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%;
    margin-left: -25px;
    width: 50px;
}
@media(min-width:900px){
    .survey-block {
        /*width: 600px;*/
    }
}
.survey-container{
    margin: 0 auto;
    color: #333;
}
.survey-block{
    display: none;
    margin: 30px auto;
    /*border: 1px solid #d8dcff;*/
    /*background-color: white;*/
    /*-moz-border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}
.survey-body{
    padding: 10px 40px;
}
.survey-title{
    font-size: 150%;
    font-weight: 300;
    /*background-color: whitesmoke;*/
    padding: 5px 0px 7px 10px;
}
.survey-submit{
    padding: 15px 0;
    /*background-color: whitesmoke;*/
    text-align: center;
}
.question-title{
    font-weight: 400;
    font-size: 130%;
}
.sign-up-group{
    margin: 0 auto;
}
.fbbtn{
    width: 100%;
    margin-bottom: 5px;
}
.emailbtn{
    width: 100%;
    margin-top: 5px;
}
.sign-up-button{
    background-color: #79aec8;
    font-size: 130%;
    font-weight: 500;
    padding: 5px 15px;
    margin: 0 auto;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.sign-up-button:hover{
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
}
.survey-success{
    display: none;
    text-align: center;
}
.survey-message{
    font-size: 120%;
    font-weight: 500;
}
.survey-desc{
    font-size: 140%;
    font-weight: 500;
}
.survey-helper{
    font-weight: 200;
}
.survey-helper span{
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}
.survey-helper span:hover{
    color: #000d98;
}
/*.survey-body li::before{*/
    /*font-weight: 600;*/
    /*font-size: 130%;*/
/*}*/


/* Thank you page */
.account{
    font-weight: bold;
}

.email-survey{
    display: none;
}
.survey-submit-email{

}
.survey-submit-email button{
    width: 100%;
    margin-top: 20px;
}

#unsubalert{
    display: none;
}

.bottomabs{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.agreeTerms, .agreeTerms:hover, .agreeTerms:visited, .agreeTerms:active{
    color: white;
    font-weight: 500;
}

.form-group.required .control-label:after, .question-title:after {
   content: "*";
    color: rgb(255, 124, 5);
    margin-left: 1px;
}

.roamvuLogoContainer > img{
    width: 250px;
    margin: 20px auto;
    display: block;
}