<html style="margin: 0; padding: 0;">
<head>
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0;">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 0 20px; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizelegibility;background: linear-gradient(rgb(2,88,130), rgb(0, 36, 71)) no-repeat;color: white;font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 150%;">
    <tr>
        <td align="center" style="text-align: start">
            <div style="font-size: 400%; font-family: 'Gochi Hand', cursive;">
                <span style="color:white;">Roam</span><span style="color:rgb(53,156,255);">VU</span>
            </div>
            <p>
                Dear, {{ name }}
            </p>
            <p>Thank you for registering to participate in RoamVU Beta Test.
                We will inform you as soon as your RoamVU Beta is
                available and provide a download link with further instructions.
            </p>
            <p>If you have selected to participate in future Beta Tests
                you will receive updates and further detailed information
                including timing, location and participating platforms.
            </p>
            <p>If you have any question about RoamVU Beta Test
            please reply to this message directly.</p>
            <p>
                In case you wish to cancel your participation in Beta, follow this link:
                <a href="{{ cancel_link }}" style="color: #ffff00;">click here</a>
            </p>
            <p>Regards,<br>RoamVU team.</p>
        </td>
    </tr>
</table>
</body>
</html>