{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700|Ubuntu+Condensed" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'media/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'media/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'media/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'media/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'media/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'media/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'media/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'media/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'media/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'media/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'media/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
    <script type='text/javascript' src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
{#        <script type='text/javascript' src="{% static 'js/tether.min.js' %}"></script>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'web/css/base.css' %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
{#    <script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>#}
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>

{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>#}
    <script type="application/javascript" src="{% static 'js/d3.js' %}"></script>
{#    <script type="application/javascript" src="{% static 'js/d3pie.min.js' %}"></script>#}
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/base.css' %}"/>

    {% block head %}{% endblock %}
</head>
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{#    {% bootstrap_css %}#}
{#    {% bootstrap_javascript %}#}
<body>
{% block messages %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% endblock %}
{% block content %}{% endblock %}
{% block body_scripts %}{% endblock %}
</body>
</html>