@media(min-width:768px){

}

#sendCodes {
    margin: 30px 0;
}
.form-input-container{
    display: inline-block;
    vertical-align: top;
}

.form-group-container{
    margin: 15px 0;
}

.form-container{
}