{% extends "web/template.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Dashboard
{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD3iIKy7TloAGaFrkhDOV77DJF3naC7ZfA"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/loading-wrapper.css' %}"/>
{% endblock %}

{% block content2 %}
    <script>
        var CONST_CUSTOMER_ID = parseInt("{{ customer_id }}");
        if (CONST_CUSTOMER_ID === 998)
            CONST_CUSTOMER_ID = 700001
    </script>
    <div id="App1">
        <div id="loading-wrapper">
            <div id="loading-text">LOADING</div>
            <div id="loading-content"></div>
        </div>
    </div>
    {% ifequal 'admin' access %}
        {% render_bundle 'vendors' %}
        {% render_bundle 'ConsoleApp' %}
    {% endifequal %}
    {% ifequal 'customer-administrator' access %}
        {% render_bundle 'vendors' %}
        {% render_bundle 'CustomerApp' %}
    {% endifequal %}
    {% ifequal 'end-user' access %}
        {% render_bundle 'vendors' %}
        {% render_bundle 'EnduserApp' %}
    {% endifequal %}

{% endblock %}
