{% extends "web/template.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Map
{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD3iIKy7TloAGaFrkhDOV77DJF3naC7ZfA"></script>
{% endblock %}

{% block content2 %}
    <script>
        var CONST_CUSTOMER_ID = parseInt("{{ customer_id }}");
    </script>
    <div id="App1"></div>
    {% render_bundle 'vendors' %}
    {% render_bundle 'MapApp' %}
{% endblock %}
