{% extends "web/template.html" %}
{% load static %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Users
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/users.css' %}" />
{% endblock %}

{% block content2 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Edit user</h3>
                    <form action="" role="form" class="form" method="post" id="userForm">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      {% buttons %}
                        <button id='submit' type="submit" class="btn btn-primary btn-block">
                            Update
                        </button>
                      {% endbuttons %}
                    </form>
                    <form action="{% url 'delete-user' id=form.id.initial %}" role="form" class="form" method="post">
                      {% csrf_token %}
                      {% buttons %}
                        <button id='submit' type="submit" class="btn btn-danger btn-block">
                            Delete
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="{% static 'web/js/api.js' %}"></script>
    <script type="text/javascript">
        $(".clickable").on('click', function (e) {
            window.location = $(this).data('href');
        });
    </script>
{% endblock %}