{% extends "web/template.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Subscribers
{% endblock %}

{% block head %}
    {{ block.super }}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'web/css/users.css' %}" />#}
{% endblock %}

{% block content2 %}
    <div id="TestersApp"></div>
    {% render_bundle 'vendors' %}
    {% render_bundle 'TestersApp' %}

{% endblock %}

{% block no_content %}
 <div class="container">
        <h3>Testers</h3>
        <table class="table table-hover" style="text-align: start;">
            <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Locale</th>
                <th>TZ</th>
                <th>Link</th>
                <th>Picture</th>
                <th>Verified</th>
                <th>Platform</th>
                <th>Facebook ID</th>
            </tr>
            </thead>
            <tbody>
            {% for user in testers %}
                <tr>
                    <td>{{ user.fields.email }}</td>
                    <td>{{ user.fields.name }}</td>
                    <td>{{ user.fields.surname }}</td>
                    <td>{{ user.fields.min_age }} - {{ user.fields.max_age }}</td>
                    <td>{{ user.fields.gender }}</td>
                    <td>{{ user.fields.locale }}</td>
                    <td>{{ user.fields.timezone }}</td>
                    {% if user.fields.link %}
                        <td>
                            <a href="{{ user.fields.link }}">Link</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if user.fields.picture %}
                        <td>
                            <img class='profile-pic' style="width: 50px;height: 50px;" src="{{ user.fields.picture }}"/>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ user.fields.verified }}</td>
                    <td>{{ user.fields.platform }}</td>
                    <td>{{ user.fields.facebook_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <h3>Subscribers</h3>
        <table class="table table-hover" style="text-align: start;">
            <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Locale</th>
                <th>TZ</th>
                <th>Link</th>
                <th>Picture</th>
                <th>Verified</th>
                <th>Platform</th>
{#                <th>Updated Time</th>#}
                <th>Facebook ID</th>
            </tr>
            </thead>
            <tbody>
            {% for user in subscribers %}
                <tr>
                    <td>{{ user.fields.email }}</td>
                    <td>{{ user.fields.name }}</td>
                    <td>{{ user.fields.surname }}</td>
                    <td>{{ user.fields.min_age }} - {{ user.fields.max_age }}</td>
                    <td>{{ user.fields.gender }}</td>
                    <td>{{ user.fields.locale }}</td>
                    <td>{{ user.fields.timezone }}</td>
                    {% if user.fields.link %}
                        <td>
                            <a href="{{ user.fields.link }}">Link</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if user.fields.picture %}
                        <td>
                            <img class='profile-pic' style="width: 50px;height: 50px;" src="{{ user.fields.picture }}"/>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ user.fields.verified }}</td>
                    <td>{{ user.fields.platform }}</td>
{#                    <td>{{ user.fields.updated_time|slice:":10" }}</td>#}
                    <td>{{ user.fields.facebook_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}