{% extends "web/template.html" %}
{% load static %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Users
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/users.css' %}"/>
{% endblock %}

{% block content2 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Create a new user</h3>
                    <form action="{% url 'users' %}" role="form" class="form" method="post" id="userForm">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button id='submit' type="submit" class="btn btn-primary btn-block">
                                Create
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Edit existing users</h3>
                    <div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Activated</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr class='clickable'>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.groups.all.0 }}</td>
                                    <td>{{ user.is_active }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="true">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li>
                                                    <form class="userActionForm" action="{% url 'reset-user' id=user.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                                                    </form>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <form class="userActionForm" action="{% url 'delete-user' id=user.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="{% static 'web/js/api.js' %}"></script>
    <script type="text/javascript">
        $(".clickable").on('click', function (e) {
            {#            window.location = $(this).data('href');#}
        });
    </script>
{% endblock %}