{% extends "web/template.html" %}
{% load static %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Checkout
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/codes.css' %}" />
{% endblock %}

{% block content2 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'payment' %}" role="form" class="form" method="post">
                      {% csrf_token %}
                        {{ form.confirm_hash.as_hidden }}
                        Confirm your order
                      {% buttons %}
                        <button id='submit' type="submit" class="btn btn-primary">
                            Confirm
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
