{% extends "web/template.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% load bootstrap3 %}

{% block title %}
    Customer Portal | Codes
{% endblock %}

{% block content2 %}
    <div id="CodesApp"></div>
    {% render_bundle 'vendors' %}
    {% render_bundle 'CodesApp' %}
{% endblock %}

{% block content3 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Send Codes</h3>
                    <div class="form-container">
                        <form id="sendCodes" method="post" action="" class="form-inline">
                            {% csrf_token %}
                            {% for form in formset.forms %}
                                <div class="form-group-container">
                                    <div class="form-group">
                                        <div class="form-input-container">
                                            {% bootstrap_field form.code_entitlement show_label=False %}
                                        </div>
                                        <div class="form-input-container">
                                            {% bootstrap_field form.email show_label=False %}
                                        </div>
                                        <div class="form-input-container">
                                            {% bootstrap_field form.phone show_label=False %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-danger add-row">
                                Add row
                            </button>
                            <button id='sub' type="button" class="btn btn-primary">
                                Submit
                            </button>
                            {{ formset.management_form }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Transactions</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Entitlement</th>
                                <th>Credits</th>
                                <th>Order Date</th>
                                <th>Paid</th>
                                <th>Delivery Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                        <tbody>
                        {% for order in orders %}
                            {% for trans in order.transactions %}
                                <tr>
                                    <td>{{ trans.code }}</td>
                                    <td>{{ trans.email }}</td>
                                    <td>{{ trans.phone }}</td>
                                    <td>{{ trans.entitlement }} days</td>
                                    <td>{{ trans.price }}</td>
                                    <td>{{ trans.date }}</td>
                                    <td>{{ order.is_paid }}</td>
                                    <td>{% if trans.status == '0' %}
                                            Not sent
                                        {% elif trans.status == '1' %}
                                            Pending
                                        {% elif trans.status == '2' %}
                                            Sent
                                        {% else %}
                                            Failed
                                        {% endif %}
                                    </td>
                                    <td><button type="button" class="btn btn-default resendbtn">Resend</button></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="{% static 'web/js/api.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/codes.js' %}"></script>
{% endblock %}