{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'media/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'media/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'media/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'media/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'media/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'media/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'media/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'media/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'media/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'media/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'media/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <title>RoamVU</title>
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <script type='text/javascript' src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tether.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_1.8.css' %}"/>
    <script type="application/javascript" src="{% static 'js/velocity.min.js' %}"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1299099136872065');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1299099136872065&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    {% block head %}
    {% endblock %}
</head>
<body>
{% block container %}
    <script>
        csrf_token = "{{ csrf_token }}";
        var isMobile = false; //initiate as false
        var isLoginned = false;
        var userEmail = undefined;
        var userToken = "{{ token }}" == "" ? undefined : "{{ token }}";
        var userName = "{{ name }}" == "" ? undefined : "{{ name }}";
        var canPostFbdata = false;
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4)))
            isMobile = true;


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        BASE_API_URL = location.origin;

        function addSubscriber(data, callback) {
            var picture, min_age, max_age;
            if (data.age_range.min) min_age = data.age_range.min;
            if (data.age_range.max) max_age = data.age_range.max;
            if (data.picture && data.picture.data) picture = data.picture.data.url;
            userEmail = data.email;
            let platform = $('#platform').val();
            if (platform == 'iOS')
                $.ajax({
                    url: BASE_API_URL + "/",
                    type: "POST",
                    data: {
                        email: data.email, name: data.first_name, surname: data.last_name,
                        q1: $('[name="date"]:checked').val(),
                        id: data.id, gender: data.gender, min_age: min_age, max_age: max_age,
                        verified: data.verified, locale: data.locale, timezone: data.timezone,
                        link: data.link, picture: picture, updated_time: data.updated_time, platform: platform
                    },
                    success: callback
                });
            else
                $.ajax({
                    url: BASE_API_URL + "/",
                    type: "POST",
                    data: {
                        email: data.email, name: data.first_name, surname: data.last_name,
                        id: data.id, gender: data.gender, min_age: min_age, max_age: max_age,
                        verified: data.verified, locale: data.locale, timezone: data.timezone,
                        link: data.link, picture: picture, updated_time: data.updated_time, platform: platform
                    },
                    success: callback
                });
        }
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                isLoginned = true;
                $('.survey-body').hide();

                testAPI();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                //document.getElementById('status').innerHTML = 'Please log ' +
                //'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                //document.getElementById('status').innerHTML = 'Please log ' +
                // 'into Facebook.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1095826060564287',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me?fields=id,email,name,first_name,last_name,about,gender,age_range,verified,locale,timezone,cover,link,picture,updated_time', function (response) {
                console.log('Successful login for: ' + response.name);
                console.log(response);
                if (response.email && canPostFbdata) {
                    console.log('Saving email...');
                    addSubscriber(response, function (res) {
                        userToken = res.token;
                    });
                }
                {#      document.getElementById('status').innerHTML =#}
                {#        'Thanks for logging in, ' + response.name + '! Your email ' + response.email +#}
                {#        ' has been added to subscription list';#}
                {#    });#}
                $('.survey-message').text('Thank You for Signing Up ' + response.name + '!');
                $('#fbLoginButton').hide();
                $('.survey-success').show();

                {#        $('.survey-body').hide();#}
            });
        }

        function validateEmail(email) {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function getTimezone() {
            let offset = new Date().getTimezoneOffset();
            if (offset < 0)
                return "+" + parseInt(offset / -60);
            else
                return "-" + parseInt(offset / 60);
        }

        $(document).ready(function () {
            let $submitdiv = $('.survey-submit');
            let emailLoginned = false;

            if (($('[name="date"]:checked').val() == undefined || $('#platform').val() == undefined) && !isLoginned) {
                $submitdiv.hide()
            } else {
                $submitdiv.show()
            }

            $(document).on('click', '[name="date"]', function (event) {
                if ($('[name="date"]:checked').val() == undefined) {
                    $submitdiv.hide();
                } else {
                    if ($('#platform').val() != undefined) $submitdiv.show();
                    $('.survey-submit-email button').removeClass('disabled')
                }
            });

            $(document).on('change', '#platform', function () {
                if ($('[name="date"]:checked').val() != undefined)
                    $submitdiv.show()
            });
            $('#termscheck').on('click', function () {
                if (this.checked == true) {
                    $('.fbbtn, .emailbtn').removeClass('disabled');
                } else {
                    $('.fbbtn, .emailbtn').addClass('disabled');
                }
            });
            if ($('#termscheck')[0].checked)
                $('.fbbtn, .emailbtn').removeClass('disabled');
            $('.fbbtn').on('click', function () {
                if ($(this).hasClass('disabled')) return;
                canPostFbdata = true;
                $submitdiv = $('.survey-submit');
                $(document).on('change', '#platform', function () {
                    if ($(this).val() == 'iOS') {
                        $('.survey-question').show();
                        $('#fbandroid').hide()
                        if ($('[name="date"]:checked').val() == undefined) {
                            $submitdiv.hide();
                        }
                    }
                    else {
                        $('.survey-question').hide();
                        $submitdiv.show();
                        $('#fbandroid').show()
                    }
                });
                $('.survey-submit-email').hide();
                $('.mainBlock, .copyright')
                    .velocity("fadeOut", {
                        delay: 0, duration: 500, complete: function (elements) {
                            $('.survey-block, .copyright').velocity("fadeIn", {delay: 0, duration: 1000})
                        }
                    });
            });
            $('.emailbtn').on('click', function () {
                if ($(this).hasClass('disabled')) return;
                if (userName != undefined) {
                    emailLoginned = true;
                    $('.survey-message').text('Thank You for Signing Up ' + userName + '!');
                    $('.survey-success').show();
                    $('.survey-body').hide();
                    $('.mainBlock, .copyright')
                        .velocity("fadeOut", {
                            delay: 0, duration: 500, complete: function (elements) {
                                $('.survey-block, .copyright').velocity("fadeIn", {delay: 0, duration: 1000})
                            }
                        });
                } else {
                    $submitdiv = $('.survey-submit-email');
                    {#                if (!isLoginned) $('.survey-images').hide()#}
                    {#                    $('.email-survey').show()#}
                    $(document).on('change', '#platform', function () {
                        if ($(this).val() == 'iOS') {
                            $('.email-survey, .survey-question').show();
                            $('#emailandroid').hide();
                        }
                        else {
                            $('.email-survey, .survey-question').hide()
                            $('.survey-submit-email button').removeClass('disabled');
                            $('#emailandroid').show()
                        }
                        $('.email-input').show()
                    });
                    $('.mainBlock, .copyright')
                        .velocity("fadeOut", {
                            delay: 0, duration: 500, complete: function (elements) {
                                $('.survey-block, .copyright').velocity("fadeIn", {delay: 0, duration: 1000})
                            }
                        });
                }
            });


            $('#fbSignOut').on('click', function () {
                $.ajax({
                    url: BASE_API_URL + "/",
                    type: "DELETE",
                    data: {
                        token: userToken
                    },
                    success: function () {
                        $submitdiv = undefined;
                        $('#unsubalert').show();
                        userToken = undefined;
                        userName = undefined;
                        if (emailLoginned) {
                            window.location = '/unsubscribe/';
                            emailLoginned = false;
                            $('.email-survey').hide();
                            $('.survey-submit').hide();
                            $('.survey-submit-email').hide();
                            $('.survey-images').show()
                            $('.survey-block')
                                .velocity("fadeOut", {
                                    delay: 0, duration: 500, complete: function (elements) {
                                        $('.survey-body').show();
                                        $('.survey-success').hide();
                                        $('.mainBlock').velocity("fadeIn", {delay: 0, duration: 1000})
                                    }
                                });
                        } else
                            FB.logout(function (response) {
                                window.location = '/unsubscribe/';
                                checkLoginState();
                                $('#fbLoginButton').show();
                                $('.survey-body').show();
                                $('.survey-success').hide();
                                isLoginned = false;
                                $('.email-survey').hide();
                                $('.survey-submit').hide();
                                $('.survey-submit-email').hide();
                                $('.survey-images').show()
                                $('.survey-block')
                                    .velocity("fadeOut", {
                                        delay: 0, duration: 500, complete: function (elements) {
                                            $('.survey-body').show();
                                            $('.survey-success').hide();
                                            $('.mainBlock').velocity("fadeIn", {delay: 0, duration: 1000})
                                        }
                                    });
                            });

                    }
                });
            });

            $('.survey-submit-email button').on('click', function () {
                console.log('submit pressed');
                let validated = true;
                let platform = $('#platform').val();
                if (platform == undefined) {
                    $('#platform').parent().removeClass('has-success').addClass('has-warning')
                    validated = false;
                } else {
                    $('#platform').parent().removeClass('has-warning').addClass('has-success')
                }
                let email = $('#u_email').val();
                if (email.length == 0 || !validateEmail(email)) {
                    $('#u_email').parent().removeClass('has-success').addClass('has-warning')
                    validated = false;
                } else {
                    userEmail = email
                    $('#u_email').parent().removeClass('has-warning').addClass('has-success')
                }
                if (platform == 'iOS') {
                    let name = $('#name').val();
                    if (name.length == 0) {
                        $('#name').parent().removeClass('has-success').addClass('has-warning')
                        validated = false
                    } else {
                        $('#name').parent().removeClass('has-warning').addClass('has-success')
                    }
                    let surname = $('#surname').val();
                    if (surname.length == 0) {
                        $('#surname').parent().removeClass('has-success').addClass('has-warning')
                        validated = false
                    } else {
                        $('#surname').parent().removeClass('has-warning').addClass('has-success')
                    }


                    let age = $('#age').val();
                    if (age == undefined) {
                        $('#age').parent().removeClass('has-success').addClass('has-warning')
                        validated = false;
                    } else {
                        $('#age').parent().removeClass('has-warning').addClass('has-success')
                    }

                    let gender = $('#gender').val();
                    if (gender == undefined) {
                        $('#gender').parent().removeClass('has-success').addClass('has-warning')
                        validated = false;
                    } else {
                        $('#gender').parent().removeClass('has-warning').addClass('has-success')
                    }
                    if (validated)
                        $.ajax({
                            url: BASE_API_URL + "/",
                            type: "POST",
                            data: {
                                email: email, name: name, surname: surname, q1: $('[name="date"]:checked').val(),
                                gender: $('#gender').val(), age: $('#age').val(), platform: platform,
                                timezone: getTimezone(),
                            },
                            success: function (response) {
                                userToken = response.token;
                                userName = typeof name !== 'undefined' ? name : email;
                                emailLoginned = true;
                                $('.survey-message').text('Thank You for Signing Up ' + userName + '!');
                                $('.survey-body').hide();
                                $('.survey-images').show();
                                $('.survey-submit-email').hide();
                                $('.survey-success').show();
                            }
                        });
                }
                if (validated)
                    $.ajax({
                        url: BASE_API_URL + "/",
                        type: "POST",
                        data: {
                            email: email, platform: platform,
                            timezone: getTimezone(),
                        },
                        success: function (response) {
                            userToken = response.token;
                            userName = email;
                            emailLoginned = true;
                            $('.survey-message').text('Thank You for Signing Up ' + userName + '!');
                            $('.survey-body').hide();
                            $('.survey-images').show();
                            $('.survey-submit-email').hide();
                            $('.survey-success').show();
                        }
                    });


            });
        });
    </script>
    <div class="alert alert-warning alert-dismissible" id="unsubalert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        You have successfully canceled your participation in RoamVU Beta Test and all your personal data has been
        removed.
    </div>
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-sm-1  col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="mainBlock centerText">
                        <div class="roamvuLogoContainer">
                            <img src="{% static 'media/roamvulogobeta2.png' %}"/>
                        </div>
                        <div id="textBlock">
                            <div class="desc1">
                                As part of the Beta testing of our app, you will get
                                absolutely <b>FREE</b> access to millions of next generation
                                super fast and secure hotspots in more than
                            </div>
                            <div class="desc2">
                                170.000 Locations in<br>Japan and Hong Kong
                            </div>
                            <div class="desc3">
                                To participate in our <b>Beta Test</b><br>please accept terms and register<br>with one
                                of the
                                following options:
                            </div>
                            <div class="checkbox" style="margin:15px 0">
                                <label>
                                    <input id='termscheck' type="checkbox"> I agree with <a href="{% url 'terms' %}"
                                                                                            class="agreeTerms"
                                                                                            target="_blank">RoamVU Beta
                                    Terms And Conditions</a>
                                </label>
                            </div>
                            <div class="sign-up-group">
                                <button class="btn btn-primary fbbtn disabled">
                                    Continue with Facebook
                                </button>
                                <br>or<br>
                                <button style="background-color: white;" class="btn btn-default emailbtn disabled">
                                    Continue with Email
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="survey-block">
                        <div class="survey-images">
                            <div class="roamvuLogoContainer">
                                <img src="{% static 'media/roamvulogobeta2.png' %}"/>
                            </div>
                        </div>
                        <div class="survey-body">
                            <div class="form-group required">
{#                                <label class="control-label" for="platform">What is your device platform? (currently#}
{#                                    only iOS version is supported)</label>#}
                                <select class="form-control" id="platform">
                                    <option value="0" selected="selected" hidden disabled>Choose your device platform...
                                    </option>
                                    <option value="iOS">iOS</option>
                                    <option value="Android">Android</option>
                                </select>
                            </div>
                            <div class="email-input">
                                <div class="form-group required">
                                    <label class="control-label" for="u_email">Email address</label>
                                    <input type="email" class="form-control" id="u_email" placeholder="Email">
                                </div>
                            </div>
                            <div class="email-survey">
                                <div class="form-group required">
                                    <label class="control-label" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="form-group required">
                                    <label class="control-label" for="surname">Surname</label>
                                    <input type="text" class="form-control" id="surname" placeholder="Surname">
                                </div>
                                <div class="form-group required">
                                    <label class="control-label" for="age">Age range</label>
                                    <select class="form-control" id="age">
                                        <option value="0" selected="selected" hidden disabled>Choose your age...
                                        </option>
                                        <option value="21">21 or younger</option>
                                        <option value="40">Between 21 and 40</option>
                                        <option value="41">41 or older</option>
                                    </select>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label" for="gender">Gender</label>
                                    <select class="form-control" id="gender">
                                        <option value="0" selected="selected" hidden disabled>Choose your gender...
                                        </option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="survey-question">
                                <div class="question-title">
                                    Within next 60 days I will be traveling to:
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="date" id="optionsRadios1" value="jp">
                                        Japan
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="date" id="optionsRadios2" value="hk">
                                        Hong Kong
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="date" id="optionsRadios3" value="no">
                                        Neither, but I am interested in other countries or future dates
                                    </label>
                                </div>
                            </div>
                            <div class="alert alert-warning androidalert" id="emailandroid" role="alert">
                                RoamVU for Android Beta will be available shortly.
To receive your trial invitation please sign up below.
                            </div>
                            <div class="survey-submit-email">
                                <button class="btn btn-primary disabled">Sign Up</button>
                            </div>
                        </div>
                        <div class="alert alert-warning androidalert" id="fbandroid" role="alert">
                            RoamVU for Android Beta will be available shortly.
To receive your trial invitation please sign up below.
                        </div>
                        <div class="survey-submit">
                            <fb:login-button scope="public_profile,email" id="fbLoginButton"
                                             onlogin="checkLoginState();"
                                             data-size="xlarge"
                                             data-login-text="Sign up with Facebook"></fb:login-button>
                        </div>
                        <div class="survey-success">
                            <div class="survey-message">Thank You for Signing Up!</div>
                            <div class="survey-desc">Now please check your mailbox for next steps!</div>
                            <div class="survey-helper">If you want to cancel your participation - <span
                                    id="fbSignOut">click here</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
            {#            <div class="alert alert-warning alert-dismissible" id="androidalert" role="alert">#}
            {#                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span#}
            {#                        aria-hidden="true">&times;</span></button>#}
            {#                Android RoamVU application is currently in development and is not supported yet. You can subscribe for#}
            {#                the updates using the button below.#}
            {#            </div>#}
            <div class="copyright centerText">© 2017 POINT DUME Limited</div>
        </div>
    </div>
{% endblock %}
</body>
</html>