{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'media/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'media/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'media/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'media/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'media/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'media/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'media/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'media/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'media/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'media/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'media/favicon/ms-icon-144x144.png' %}">
    <title>RoamVU | Success</title>
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <script type='text/javascript' src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tether.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_1.8.css' %}"/>
    <script type="application/javascript" src="{% static 'js/velocity.min.js' %}"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1299099136872065');
        fbq('track', 'Lead');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1299099136872065&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

</head>
<body>
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 thanks-main">
                <div class="mainBlock centerText">
                    <div class="survey-images" style="margin-bottom: 100px;">
                        <div class="roamvuLogoContainer">
                            <img src="{% static 'media/roamvulogobeta2.png' %}"/>
                        </div>
                    </div>
                    {% if username %}
                        <h3>Thank you for the registration,<br><span class="account"> {{ username }}</span>!</h3>
                    {% else %}
                        <h3>Thank you for the registration!</h3>
                    {% endif %}
                    <p>Use this password with your RoamVU account to Sign-In to the App prior to leaving on your journey.</p>
                </div>
            </div>
        </div>
        <a href="{% url 'terms' %}" class="centerText conditionsxs">
            RoamVU Beta Terms and Conditions
        </a>
        <a href="{% url 'terms' %}" class="centerText conditions">
            RoamVU Beta Terms and Conditions
        </a>
        <div class="copyright centerText">© 2017 POINT DUME Limited</div>
    </div>
</div>
</body>
</html>